#bannerimage {
    background-image: black;
    background-size: cover; /* Cover the entire header */ 
    background-position: center 10%; /* Center the image */ 
    height: 70%; /* Set a height for the header */ 
    font-size: 8.0vh;
    display: flex; /* Align items */ 
    justify-content: center; /* Center horizontally */ 
    align-items: center; /* Center vertically */ 
    text-align: center; /* Center text */ 
    overflow: hidden;
}

.bannertxt{
    color: #0c4784; /* Text color */ 
    
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: (10.0vmax, 15vmin, 15vmin);
    

    padding-right: 5%;
    padding-left: 5%;
}




#HomeImg {
    background-image: url('../sources/mystic_logo.png'); /* Replace with your image path */ 
    background-size: cover; /* Cover the entire header */ 
    background-position: center; /* Center the image */  
    
    min-height:60px;    /* Set a height for the header */ 
    min-width:60px; 

    font-size: 100%;
    display: flex; /* Align items */ 
    justify-content: center; /* Center horizontally */ 
    align-items: center; /* Center vertically */ 
    text-align: center; /* Center text */ 
    overflow: hidden;

}




.headers {
    text-align: center;
    color: #0c4784;
    font-family: "Sour Gummy", serif;
}

.main_link {
    color: #dc143c;
}
.main_link:hover {
    color: #ffb25b;
}






.btn {
    border: 3px solid black;
    background-color: #e0a53f;
    color: black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;

    font-family: "Sour Gummy", serif;
}
.success {
    border-color: #9D5143;
    color: #9D5143;
}
.success:hover {
    background-color: #9D5143;
    color: white;
}


.submit_btn {
    color: #1c8390;
    border: 3px solid #1c8390;
    background-color: #5ad9b9;
    padding: 5px 15px;
    font-size: 20px;
    font-family: "Sour Gummy", serif;
    border-radius: 5px;
    text-decoration: none;
}
.submit_btn:hover {
    background-color: #1c8390;
    color: white;
}





/*---------------------- NAV STUFF ---------------------*/

/* I don't want anything to start w. whitespace around it. This gets
overriden later */
*{
    border: 0;
    padding: 0;
    margin: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #0c4784;
    overflow: hidden;
    width: 100%;
    top: 0;
    position: fixed; /* Set the navbar to fixed position */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: flex;
    color: #f3f5f8;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 20px;

    font-family: "Sour Gummy", serif;
    font-weight: 500;
    min-height:60px;    
    min-width:60px; 
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #f3f5f8;
    color: #1c8390;
    
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #0c4784;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the 
first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user 
clicks on the icon. This class makes the topnav look good on small screens 
(display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      text-align: left;
    }
}

/* Pad all the main content */
.main {
    padding-top: 60px; 
    padding-left: 20px;
    padding-right: 20px;
}